---
layout: page
title:  Tags
permalink: /tags/
sidebar: true
---

<!--h5>Tag cloud <i class="fa fa-cloud info-text-color"></i></h5>


<ul class="tag-cloud">
{% for tag in site.tags %}
  <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
    <a class="post-tag" href="#{{ tag | first | slugize }}">
      {{ tag | first }}
    </a>
  </li>
{% endfor %}
</ul-->


{% assign alltags = "" %}

<div class="tag-list">


{% for cat in site.tags %}
    {% capture tag_name %}{{ cat | first }}{% endcapture %}
    {% assign alltags = alltags | append:'|' | append:tag_name %}
{% endfor %}

{% for page in site.pages %}
	{% for tag_name in page.tags %}
		{% unless alltags contains tag_name %}
			{% assign alltags = alltags | append:'|' | append:tag_name %}
		{% endunless %}
	{% endfor %}
{% endfor %}

{% assign alltags = alltags | split:'|' | sort %}

{% for tag_name in alltags %}
	<div class="tag-group">
		<h5 class="tag-group-title" id="{{ tag_name | slugize }}">{{ tag_name }}</h5>
		{% for post in site.posts %}
			{% if post.tags contains tag_name %}
			<article class="tag-item">
				<a class="tag-item-title" href="{{ site.url }}{{ post.url }}">{{post.title}}</a>
			</article>
			{% endif %}
		{% endfor %}
		{% for page in site.pages %}
			{% if page.tags contains tag_name %}
			<article class="tag-item">
				<a class="tag-item-title" href="{{ site.url }}{{ page.url }}">{{page.title}}</a>
			</article>
			{% endif %}
		{% endfor %}
	</div>
{% endfor %}


</div>
