---
layout: page
title:  Tags
permalink: /tags/
sidebar: true
---

<h5>Tag cloud <i class="fa fa-cloud info-text-color"></i></h5>

{% if page.tagcloud.size > 0 %}
<ul class="tag-cloud">
	{% for tag in page.tagcloud %}
	<li style="font-size: {{ tag | last }}%">
		<a class="post-tag" href="#{{ tag | first | slugize }}">
		{{ tag | first }}
		</a>
	</li>
	{% endfor %}
</ul>
{% endif %}


<div class="tag-list">
{% for tag in page.alltags %}
	{% capture tag_name %}{{ tag | first }}{% endcapture %}
	<div class="tag-group">
		<h5 class="tag-group-title" id="{{ tag_name | slugize }}">{{ tag_name }}</h5>
		{% assign sortedPosts = tag[1] | sort: 'title' %}
		{% for p in sortedPosts %}
			<article class="tag-item">
				<a class="tag-item-title" href="{{ site.url }}{{ p.url }}">{{p.title}}</a>
			</article>
		{% endfor %}
	</div>
{% endfor %}
</div>
