{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <a href="{{ site.url }}/">
		<img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
	</a>
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>
  <nav class="nav">
    <ul class="nav-list">
			<li class="nav-item">
				<a href="{{ site.url }}/">Start</a>
			</li>
			<li class="nav-item">
				<a href="{{ site.url }}/abstimmungen/">Abstimmungen</a>
			</li>
			<li class="nav-item">
				<a href="{{ site.url }}/contribute/">Mach Mit!</a>
			</li>
    </ul>
    <ul class="nav-list-meta">
			<li class="nav-item">
				<a href="{{ site.url }}/archive/">News-Archiv</a>
			</li>
			<li class="nav-item">
				<a href="{{ site.url }}/categories/">Kategorien</a>
			</li>
			<li class="nav-item">
				<a href="{{ site.url }}/tags/">Tags</a>
			</li>
			</li>
			<li class="nav-item">
				<a href="{{ site.url }}/feed.xml">RSS Feed</a>
			</li>
			<li class="nav-item">
				<a href="{{ site.url }}/about/">Über Wahlbilanz.de</a>
			</li>
    </ul>
  </nav>
  {% include social-links.html %}
</div>
