
.ergebnis-table {
	// width: auto;
  td
  {
    padding: 15px;
    text-align: center;
    border-radius: 0;
    &.party-ergebnis-decision {
      font-weight: bold;
      background-color: lighten($primary, 25%);
    }
    &.partyname {
      text-align: left
    }
  }
}


.abstimmung-left > div,
.abstimmung .preview
{
	background-color: #fafafa;
	border: 1px solid;
	border-radius: 20px;
	padding: 10px 25px;
	margin: 10px;
}

.abstimmung-left
{
	@include media-query($larger-screen) {
		width: 50%;
		float: left;
	}
}
.abstimmung > .preview
{
	@include media-query($larger-screen) {
		float: right;
		width: 45%;
	}
}
