---
layout: default
---

  <div id="page">
    <header class="page-header">
      <h2>{{ page.title }}</h2>
    </header>

    <article class="page-content abstimmung">
			
			
			
			<div class="abstimmung-left">
			
			<div class="abstimmungs-id">
				<ul>
					<li>Legislaturperiode: {{ page.abstimmung.legislaturperiode }}</li>
					<li>Bundestagssitzung: {{ page.abstimmung.bundestagssitzung }}</li>
					<li>Abstimmung: {{ page.abstimmung.abstimmung }}</li>
					<li>Datum: {{ page.abstimmung.datum }}</li>
				</ul>
			</div>
			
			
			
			
			{% if page.ergebnis %}
			<div class="ergebnis">
				<h3>Abstimmungsergebnis</h3>
				<table class="ergebnis-table">
					<thead>
						<tr class="party-ergebnis">
							<th>Partei</th>
							<th>Ja</th>
							<th>Nein</th>
							<th>Enthaltungen</th>
							<th>Ungültig</th>
							<th>Nicht Abgegeben</th>
						</tr>
					</thead>
					<tbody>
					{% for party in page.ergebnis %}
						{% unless party[0] == "file" %}
						<tr class="party-ergebnis party-{{party[0] | slugify }}">
							<td><span class="party-name">{{party[0] | party_name}}</span></td>
							<td><span class="party-ja">{{party[1].ja}}</span>
							<td><span class="party-nein">{{party[1].nein}}</span>
							<td><span class="party-enthaltung">{{party[1].enthaltung}}</span>
							<td><span class="party-ungueltig">{{party[1].ungueltig}}</span>
							<td><span class="party-nichtabgegeben">{{party[1].nichtabgegeben}}</span>
						</tr>
						{% endunless %}
					{% endfor %}
					</tbody>
				</table>
				
				{% if page.data %}
				<div class="ergebnis-docs">
					<h4>Dokumente</h4>
					<ul>
					{% for d in page.data %}
						<li>
							<a href="{{ d.url }}" title="{{d.title}}">
								{{d.title}}
							</a>
						</li>
					{% endfor %}
					</ul>
				</div>
				{% endif %}
				
			</div>
			{% endif %}
			
			{% if page.links %}
			<div class="external-links">
				<h3>Weiterführendes Material</h3>
				<ul>
				{% for link in page.links%}
					<li>
						<a href="{{ link.url }}" title="{{link.title}}">
							{{link.title}}
						</a>
					</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
			
			{% if page.documents %}
			<div class="documents">
				<h3>Dokumente</h3>
				<ul>
				{% for doc in page.documents%}
					<li>
						<a href="{{ doc.url }}" title="{{doc.title}}">
							{{doc.title}}
						</a>
						
						{% if doc.local %}
						(<a href="{{ doc.local }}" title="local version of {{doc.title}}">lokale Kopie</a>)
						{% endif %}
						
					</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
			
			</div>
			
			
			{% if page.preview %}
			<div class="preview">
				<h3>Kurzübersicht</h3>
				<blockquote>
				{{ page.preview | markdownify }}
				</blockquote>
			</div>
			{% endif %}
			
			
    </article>
    <div style="clear:both"></div>

    {% include categories.html %}

  
  </div><!-- end page content -->


{% include share.html %}

  {% if site.owner.disqus-shortname and page.comments == true %}
  <div id="disqus_thread"></div>
  {% include disqus.html %}
  {% endif %}
