---
layout: default
---

  <div id="page">
    <header class="page-header">
      <h2>{{ page.title }}</h2>
    </header>

    <article class="page-content">
      {{ content }}
    </article>

    {% include author.html %}

  </div><!-- end page content -->

  {% if page.categories.size > 0 %}
  <div id="page-categories">
    Kategorien:
      {% for cat in page.categories %}
        <a class="post-cat" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
        {% unless forloop.last %}
        <span>/</span>
        {% endunless %}
      {% endfor %}
  </div>
  {% endif %}

  {% if page.tags.size > 0 %}
  <div id="page-categories">
    Tags:
      {% for cat in page.tags %}
        <a class="post-cat" href="{{ site.url }}/tags/#{{ cat }}">{{ cat }}</a>
        {% unless forloop.last %}
        <span>/</span>
        {% endunless %}
      {% endfor %}
  </div>
  {% endif %}

  {% if site.owner.disqus-shortname and page.comments == true %}
  <div id="disqus_thread"></div>
  {% include disqus.html %}
  {% endif %}
